<form action="#" class="login" [formGroup]="form" (ngSubmit)="onLogin()">
  <h1>Login</h1>
  <div class="email">
    <label for="login" class="label"
      >Login:<span class="required">*required</span></label
    >
    <input
      type="text"
      required
      id="login"
      name="login"
      placeholder="Enter login"
      class="input"
      formControlName="login"
    />
    <div
      class="validation"
      *ngIf="form.get('login')?.invalid && form.get('login')?.touched"
    >
      <small *ngIf="form.get('login')?.errors?.['required']"
        >{{showErrorText('login')}}</small
      >
    </div>
  </div>
  <div class="password">
    <label for="password" class="label"
      >Password:<span class="required">*required</span></label
    >
    <input
      type="password"
      required
      id="password"
      name="password"
      placeholder="Enter password"
      class="input"
      formControlName="password"
    />
    <div
      class="validation"
      *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
    >
      <small *ngIf="form.get('password')?.errors?.['required']"
        >{{showErrorText('password')}}</small
      >
    </div>
  </div>
  <div class="action">
    <a href="#" class="faq-ref">Forgot password?</a>
    <button class="btn btn-gray" type="submit" [disabled]="form.invalid">
      Login
    </button>
  </div>
</form>
