@import "src/styles/variables.scss";
@import "src/styles/_extends.scss";

.login {
  @extend %box-shape;
  @extend %form-shape;
  width: fit-content;
  margin: 3.5rem auto;
}

.email,
.password {
  display: grid;
}

.input {
  width: 20rem;
}

.required {
  left: 12rem;
}

.email .required {
  left: 13.7rem;
}

.btn:hover {
  background-color: rgb(179, 156, 156);
}

.action {
  @extend %flex-between;
}
