@import "src/styles/variables.scss";
@import "src/styles/_extends.scss";

.login {
  @extend %box-shape;
  @extend %form-shape;
  width: fit-content;
  margin: 3.3rem auto;
}

.email,
.password {
  display: grid;
}

.input {
  width: 20rem;
}

.required {
  font-size: small;
  color: rgb(236, 53, 53);
  position: relative;
  left: 12rem;
}

.email .required {
  left: 13.7rem;
}

.btn {
  background-color: $primary-background-color;
  color: $primary-color;
  font-weight: bolder;
}

.btn:hover {
  background-color: rgb(179, 156, 156);
}

.action {
  @extend %flex-between;
}
