@import "/src/styles/variables";
@import "/src/styles/extends";


.adding-section {
  @extend %flex-between;
}

.btn-plus {
  width: 13rem;
  height: 3rem;
  margin: 3rem 5rem 0 0;
  text-align: center;
}

.fa-plus {
  padding-right: 0.5rem;
  font-size: larger;
  color: $primary-icon-light-color;
}

.message {
  text-align: center;
  font-weight: bold;
  @extend %box-shape;
  margin: 7.49rem 5rem;
}
