@import "/src/styles/variables";

.adding-section {
  display: flex;
  justify-content: space-between;

}

.btn-plus {
  width: 13rem;
  height: 3rem;
  margin: 3rem 5rem 0 0;
  text-align: center;
}

.fa-plus {
  padding-right: 0.5rem;
  font-size: larger;
  color: $primary-icon-light-color;
}
