@import "../../styles_variables.scss";

.header {
  height: 5rem;
  background: #524d4d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}

.btn {
  background: #524d4d;
  padding: 4px;
}

.btn:active {
  background: darkgrey;
}

.fa-solid {
  padding-right: 15px;
}

.fa-sharp {
  padding-right: 20px;
}

.login {
  padding-left: 5px;
  margin-right: 10px;
  width: 10rem;
  font-size: $primary-font-size;
  background: #524d4d;
  border: none;
  outline: none;
  color: white;
  display: inline;
}

.user-block {
  display: flex;
  justify-content: space-around;
}

