@import "/src/styles/variables";

.input-search {
  padding: 15px 20px 15px 60px;
  margin: 3rem 0.5rem 3rem 5rem;
  border: 1px solid rgba(169, 169, 169, 0.5);
  outline: none;
  width: 30rem;
  font-size: $primary-font-size;
  color: $primary-color;
  border-radius: $primary-border-radius;
}

.input-search:focus {
  box-shadow: $primary-box-shadow-input;
}

.fa-magnifying-glass {
  position: absolute;
  color: $primary-icon-dark-color;
  margin: 4rem 6.4rem;
  font-size: larger;
}

.input-search::placeholder {
  color: $primary-input-placeholder;
  font-size: $primary-font-size;
}

.btn-search {
  background: #9bc837;
  padding: 15px 20px;
}
