@import "/src/styles/variables";

.input {
  padding: 15px 20px 15px 60px;
  margin: 3rem 0.5rem 3rem 5rem;
}

.fa-magnifying-glass {
  position: absolute;
  color: $primary-icon-dark-color;
  margin: 4rem 6.4rem;
  font-size: larger;
}

.btn {
  background: #9bc837;
  padding: 15px 20px;
}
