@import "/src/styles/variables";

.course {
  margin: $primary-box-margin;
  padding: 2rem;
  border-radius: $primary-border-radius;
  background: white;
  display: flex;
  justify-content: space-between;
  box-shadow: $primary-box-shadow;
}

.btn-content {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  margin-bottom: 1rem;
  font-size: 0.75rem;
}

.calendar,
.time {
  font-size: small;
  color: $primary-icon-dark-color;
}

.describe {
  width: 70%;
}

.course-header,
.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  gap: 2rem;
}

.course-header {
  margin-bottom: 1rem;
}

.green-border {
  border: 3px solid green;
}

.blue-border {
  border: 3px solid blue;
}

.icon-star::after {
  content: '\f005';
  font-family: $primary-font-family-icon;
  font-size: medium;
  color: #f1e904;
  margin-left: .5rem;
}

.bg-color {
  background-color: rgb(220, 248, 246);
}
