@import "../../../styles_variables.scss";

.course {
  margin: 1.5rem 5rem;
  padding: 2rem;
  border-radius: $primary-border-radius;
  background: white;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px 5px #aaa;
}

.btn-content {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  margin-bottom: 1rem;
  font-size: 0.75rem;
}

.calendar,
.time {
  font-size: small;
  color: $primary-icon-dark-color;
}

.describe {
  width: 70%;
}

.course-header,
.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  gap: 2rem;
}

.course-header {
  margin-bottom: 1rem;
}
