@import "/src/styles/variables";
@import "/src/styles/extends";


.course {
  padding: 2rem;
  @extend %flex-between, %box-shape;
}

.btn-content {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  margin-bottom: 1rem;
  font-size: 0.75rem;
}

.calendar,
.time {
  font-size: small;
  color: $primary-icon-dark-color;
}

.describe {
  width: 70%;
}

.course-header,
.time {
  @extend %flex-between;
  align-items: center;
}

.time {
  gap: 2rem;
}

.course-header {
  margin-bottom: 1rem;
}

.green-border {
  border: 3px solid green;
}

.blue-border {
  border: 3px solid blue;
}

.icon-star::after {
  content: '\f005';
  font-family: $primary-font-family-icon;
  font-size: medium;
  color: #f1e904;
  margin-left: .5rem;
}

.background-topRated {
  background-color: rgb(220, 248, 246);
}
