<article class="course" [appFreshBorder]="course.creationDate">
  <div class="describe">
    <div class="course-header">
      <h1 class="title">{{ course.title }}</h1>
      <div class="time">
        <div>
          <i class="fa-regular fa-clock"></i>
          {{ course.durationMin }}
        </div>
        <div class="calendar">
          <i class="fa-solid fa-calendar-days"></i>
          {{ course.creationDate | date : "d MMM, y" }}
        </div>
      </div>
    </div>
    <p class="description">{{ course.description }}</p>
  </div>
  <div class="btn-content">
    <button class="btn btn-edit">
      <i class="fa-solid fa-pen"></i>
      Edit
    </button>
    <button class="btn btn-delete" (click)="emitDeleteId()">
      <i class="fa-solid fa-trash"></i>
      Delete
    </button>
  </div>
</article>
