<article
  class="course"
  [appFreshBorder]="course.date"
  [ngClass]="{ 'background-topRated': course.isTopRated }"
>
  <div class="describe">
    <div class="course-header">
      <h1 class="title" [ngClass]="{ 'icon-star': course.isTopRated }">
        {{ course.name | uppercase }}
      </h1>
      <div class="time">
        <div class="clock">
          <i class="fa-regular fa-clock"></i>
          {{ transformedDuration }}
        </div>
        <div class="calendar">
          <i class="fa-solid fa-calendar-days"></i>
          {{ course.date | date : "d MMM, y" }}
        </div>
      </div>
    </div>
    <p class="description">{{ course.description }}</p>
  </div>
  <div class="btn-content">
    <button class="btn btn-edit" [routerLink]="['/courses', course.id]">
      <i class="fa-solid fa-pen"></i>
      Edit
    </button>
    <button class="btn btn-delete" (click)="emitDeleteId()">
      <i class="fa-solid fa-trash"></i>
      Delete
    </button>
  </div>
</article>
