@import "/src/styles/variables";
@import "/src/styles/extends";

.header {
  height: 5rem;
  background: #524d4d;
  @extend %flex-between;
  align-items: center;
  padding: 0 5rem;
}

.btn {
  background: #524d4d;
  padding: 4px;
}

.btn:active {
  background: darkgrey;
}

.fa-solid {
  padding-right: 15px;
  color: $primary-icon-light-color;
}

.fa-sharp {
  padding-right: 20px;
}

.login {
  padding: 0 0.5rem;
  font-size: $primary-font-size;
  background: #524d4d;
  color: white;
  display: inline;
}

.user-block {
  @extend %flex-between;
}
