<div class="label-column">
  <label for="date" class="label"
    >{{ "Date" | translate }}:
    <span class="required">*{{ "required" | translate }}</span></label
  >
  <input
    type="text"
    class="input"
    id="date"
    name="date"
    placeholder="MM/DD/YYYY"
    required
    maxlength="10"
    [value]="dateValue"
    (input)="onChange($event)"
    [ngClass]="{
      'ng-touched': isDateTouched,
      'ng-invalid': isDateInvalid,
      'ng-valid': !isDateInvalid
    }"
  />
  <i class="fa-regular fa-calendar"></i>
</div>
