@import "src/assets/styles/fonts.css";

$primary-font-family: "Roboto", sans-serif;

$primary-font-size: 1rem;

$primary-line-height: 2rem;

$primary-color: #333;

$primary-border-radius: 5px;

$primary-box-shadow-input: 0 0 3px 0 #aaa;

$primary-background-color: rgba(177, 171, 171, 0.5);

$primary-icon-dark-color: #aaa;

$primary-icon-light-color: #ffffff;

$primary-btn-padding: 10px 0 10px 0;

$ptimary-btn-width: 7rem;

$primary-btn-background: #30b6dd;

$primary-btn-color: #ffffff;

$primary-box-shadow: 0 0 10px 5px #aaa;

$primary-box-margin: 1.5rem 5rem;

$primary-input-placeholder: rgba(169, 169, 169, 0.5);
