<article class="course" *ngIf="course">
  <div class="describe">
    <div class="course-header">
      <h1>{{ course.title }}</h1>
      <div class="time">
        <div>
          <i class="fa-regular fa-clock" style="color: #aaa"></i>
          {{ course.durationMin }}
        </div>
        <div class="calendar">
          <i class="fa-solid fa-calendar-days" style="color: #aaa"></i>
          {{ course.creationDate | date : "d MMM, y" }}
        </div>
      </div>
    </div>
    <p>{{ course.description }}</p>
  </div>

  <div class="btn-content">
    <button class="btn btn-active">
      <i class="fa-solid fa-pen" style="color: #ffffff"></i>
      Edit
    </button>
    <button class="btn btn-active" (click)="deleteCourse()">
      <i class="fa-solid fa-trash" style="color: #ffffff"></i>
      Delete
    </button>
  </div>
</article>
