<form action="#" class="form" [formGroup]="form" (ngSubmit)="onSave()">
  <div class="label-column">
    <label for="title" class="label"
      >{{ "Title" | translate }}:
      <span class="required">*{{ "required" | translate }}</span></label
    >
    <input
      type="text"
      id="title"
      name="title"
      [placeholder]="'Enter title' | translate"
      class="input"
      required
      formControlName="title"
    />
    <div
      class="validation"
      *ngIf="form.get('title')?.invalid && form.get('title')?.touched"
    >
      <small *ngIf="form.get('title')?.errors?.['required']">
        {{ showErrorText("title") }}
      </small>
      <small *ngIf="form.get('title')?.errors?.['maxlength']">
        {{ showErrorText("title") }}
      </small>
    </div>
  </div>
  <div class="label-column">
    <label for="description" class="label"
      >{{ "Description" | translate }}:
      <span class="required"> *{{ "required" | translate }}</span></label
    >
    <textarea
      name="description"
      id="description"
      cols="30"
      rows="4"
      [placeholder]="'placeholder.description' | translate"
      class="input"
      required
      formControlName="description"
    ></textarea>
    <div
      class="validation"
      *ngIf="
        form.get('description')?.invalid && form.get('description')?.touched
      "
    >
      <small *ngIf="form.get('description')?.errors?.['required']">
        {{ showErrorText("description") }}
      </small>
      <small *ngIf="form.get('description')?.errors?.['maxlength']">
        {{ showErrorText("description") }}
      </small>
    </div>
  </div>
  <app-add-course-date formControlName="date"></app-add-course-date>
  <div
    class="validation"
    *ngIf="form.get('date')?.invalid && form.get('date')?.dirty"
  >
    <small *ngIf="form.get('date')?.errors?.['required']">
      {{ showErrorText("date") }}
    </small>
    <small *ngIf="form.get('date')?.errors?.['pattern']">
      {{ showErrorText("date") }}
    </small>
    <small *ngIf="form.get('date')?.errors?.['restrictedDateMore']">
      {{ showErrorText("date") }}
    </small>
    <small *ngIf="form.get('date')?.errors?.['restrictedMonthMore']">
      {{ showErrorText("date") }}
    </small>
    <small *ngIf="form.get('date')?.errors?.['restrictedDateInFebruary']">
      {{ showErrorText("date") }}
    </small>
  </div>
  <app-add-course-duration formControlName="duration"></app-add-course-duration>
  <div
    class="validation"
    *ngIf="form.get('duration')?.invalid && form.get('duration')?.dirty"
  >
    <small *ngIf="form.get('duration')?.errors?.['required']">
      {{ showErrorText("duration") }}
    </small>
    <small *ngIf="form.get('duration')?.errors?.['invalidNumber']">
      {{ showErrorText("duration") }}
    </small>
  </div>
  <app-add-course-authors formControlName="authors"></app-add-course-authors>
  <div class="validation">
    <small *ngIf="form.get('authors')?.errors?.['emptyAuthors']">{{
      showErrorText("authors")
    }}</small>
  </div>
  <div class="action">
    <button class="btn btn-gray" (click)="onCancel()">
      {{ "Cancel" | translate }}
    </button>
    <button class="btn btn-green" type="submit" [disabled]="form.invalid">
      {{ "Save" | translate }}
    </button>
  </div>
</form>
