<form action="#" class="form">
  <div class="label-column">
    <label for="title" class="label"
      >Title: <span class="required">*required</span></label
    >
    <input
      type="text"
      id="title"
      name="title"
      placeholder="Enter title"
      class="input"
      [(ngModel)]="course.name"
      required
    />
  </div>
  <div class="label-column">
    <label for="description" class="label"
      >Description: <span class="required"> *required</span></label
    >
    <textarea
      name="description"
      id="description"
      cols="30"
      rows="4"
      placeholder="Enter description"
      [(ngModel)]="course.description"
      class="input"
      required
    ></textarea>
  </div>
  <app-add-course-date
    [dateValue]="date | date: 'MM.dd.yyyy'"
    (date)="setDate($event)"
  ></app-add-course-date>
  <app-add-course-duration
  [durationValue]="durationMin"
  (duration)="setDuration($event)"
  ></app-add-course-duration>
  <app-add-course-authors></app-add-course-authors>
  <div class="action">
    <button class="btn" type="submit" (click)="onSave($event)">Save</button>
    <button class="btn" (click)="onCancel()">Cancel</button>
  </div>
</form>
