@import "/src/styles/extends";
@import "/src/styles/variables";

.form {
  @extend %form-shape;
  gap: 0.5rem;
  background-color: white;
  padding: 0 5rem 1rem 5rem;
}

.input {
  width: 100%;
  padding: 0.4rem;
  font-family: 'Roboto', sans-serif;
}

.action {
  @extend %flex-between;
  width: 20rem;
}

.btn-green {
  background-color: #9bc837;;
}
