@import "/src/styles/extends";
@import "/src/styles/variables";

.form {
  @extend %form-shape;
  padding: 1rem;
  gap: 0.5rem;
  margin: 0.5rem 5rem;
}

.input {
  width: 100%;
  padding: 0.5rem;
}

.action {
  @extend %flex-between;
  width: 20rem;
}
