<app-header>
  <app-logo></app-logo>
</app-header>

<app-breadcrumbs
  *appIfAuthenticated="authService.isAuthenticated()"
></app-breadcrumbs>

<router-outlet></router-outlet>

<!-- <app-courses-page
  *appIfAuthenticated="authService.isAuthenticated()"
></app-courses-page> -->

<!-- <app-login-page
  *appIfAuthenticated="authService.isAuthenticated()"
></app-login-page> -->

<!-- <app-add-course-page *appIfAuthenticated="!authService.isAuthenticated()"></app-add-course-page> -->

<app-footer></app-footer>
