<section class="courses-page">
  <div>
    <i class="fa-solid fa-magnifying-glass fa-rotate-90"></i>
    <input
      [(ngModel)]="searchCourse"
      class="input-search"
      type="search"
      placeholder="Text to search..."
    />
    <button (click)="searchClick()" class="btn btn-search">Search</button>
  </div>
  <div class="adding-section">
    <button class="btn btn-plus">
      <i class="fa-solid fa-plus" style="color: #ffffff"></i> Add course
    </button>
  </div>
  <ng-content></ng-content>
</section>
