.input-search {
  padding: 15px 20px 15px 60px;
  margin: 3rem 0.5rem 3rem 5rem;
  border: 1px solid rgba(169, 169, 169, 0.5);
  outline: none;
  width: 30rem;
  font-size: 1rem;
  color: #333;
  border-radius: 5px;
}

.input-search:focus {
  box-shadow: 0 0 3px 0 #aaa;
}

.fa-magnifying-glass {
  position: absolute;
  color: #aaa;
  margin: 4rem 6.4rem;
  font-size: larger;
}

.input-search::placeholder {
  color: rgba(169, 169, 169, 0.5);
  font-size: 1rem;
}

.btn-search {
  background: #9BC837;
  padding: 15px 20px;
}

.adding-section {
  display: flex;
  justify-content: right;
}

.btn-plus {
  width: 13rem;
  height: 3rem;
  margin-right: 5rem;
  text-align: center;
}

.fa-plus {
  padding-right: .5rem;
  font-size: larger;
}
