@import "../../styles_variables.scss";

.courses-page {
  background: rgba(177, 171, 171, 0.5);
}

.input-search {
  padding: 15px 20px 15px 60px;
  margin: 3rem 0.5rem 3rem 5rem;
  border: 1px solid rgba(169, 169, 169, 0.5);
  outline: none;
  width: 30rem;
  font-size: $primary-font-size;
  color: $primary-color;
  border-radius: $primary-border-radius;
}

.input-search:focus {
  box-shadow: $primary-box-shadow-input;
}

.fa-magnifying-glass {
  position: absolute;
  color: $primary-icon-dark-color;
  margin: 4rem 6.4rem;
  font-size: larger;
}

.input-search::placeholder {
  color: rgba(169, 169, 169, 0.5);
  font-size: $primary-font-size;
}

.btn-search {
  background: #9BC837;
  padding: 15px 20px;
}

.adding-section {
  display: flex;
  justify-content: right;
}

.btn-plus {
  width: 13rem;
  height: 3rem;
  margin-right: 5rem;
  text-align: center;
}

.fa-plus {
  padding-right: .5rem;
  font-size: larger;
  color: $primary-icon-light-color;
}
