.load-more {
  height: 3rem;
  background: white;
  margin: 1.5rem 5rem;
  border-radius: 5px;
  justify-content: center;
  box-shadow: 0 0 10px 5px #aaa;
  display: flex;
}

.load-btn {
  border: none;
  background: none;
}
