@import "/src/styles/variables";

.load-more {
  height: 3rem;
  background: white;
  margin: $primary-box-margin;
  border-radius: $primary-border-radius;
  justify-content: center;
  box-shadow: $primary-box-shadow;
  display: flex;
}

.load-btn {
  border: none;
  background: none;
}
