$primary-font-family: "Roboto", sans-serif;

$primary-font-size: 1rem;

$primary-line-height: 2rem;

$primary-color: #333;

$primary-border-radius: 5px;

$primary-box-shadow-input: 0 0 3px 0 #aaa;

$primary-icon-color: #aaa;

$primary-btn-padding: 10px 0 10px 0;

$ptimary-btn-width: 7rem;

$primary-btn-background: #30b6dd;

$primary-btn-color: #ffffff;
