@import "./styles_variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $primary-font-family;
  font-size: $primary-font-size;
  line-height: $primary-line-height;
  background-color: $primary-background-color;
  color: $primary-color;
}

.btn {
  border: none;
  color: $primary-btn-color;
  cursor: pointer;
  padding: $primary-btn-padding;
  width: $ptimary-btn-width;
  font-size: $primary-font-size;
  background: $primary-btn-background;
  border-radius: $primary-border-radius;
}
