<div class="label-column">
  <label for="duration" class="label"
    >{{ "Duration" | translate }}:
    <span class="required">*{{ "required" | translate }}</span></label
  >
  <div class="duration">
    <input
      type="text"
      maxlength="4"
      class="input"
      id="duration"
      name="duration"
      [value]="durationValue"
      required
      (input)="onChanged($event)"
      #duration
      [ngClass]="{
        'ng-touched': isDurationTouched,
        'ng-invalid': isDurationInvalid,
        'ng-valid': !isDurationInvalid
      }"
    />
    <div class="duration-pipe">
      <p>{{ duration.value | durationPipe }}</p>
    </div>
  </div>
</div>
